#front-page {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    font-size: 0;
    overflow: hidden;

    img {
	    transition: .5s opacity;
        max-height: 25vh;

        .nsfw {
            -webkit-transform: translate3d(0, 0, 0);
        }
    }

    &:hover img {
        opacity: 0.3;
    }

    &:hover img:hover {
        opacity: 1;
    }
}

@supports not (flex-wrap: wrap) {
	div#masonry {
		display: block;
	}
	div#masonry img {
		display: inline-block;
		vertical-align: top;
	}
}

@media screen and (max-width: 500px) {
	div#masonry { height: 200vw; }
	div#masonry img { width: 50%; }
}
