@import 'colors';

.col-centered {
    float: none;
    margin: 0 auto;
}

#nav {
    background-color: $red1;
    border: 0;
    border-radius: 0;
    color: #fff;

    li {
        a {
            color: #FFF;
            line-height: 40px;

            &:hover {
                background-color: $maroon;
            }
        }
    }

    &.navbar {
        margin-bottom: auto;
    }

    .navbar-brand {
        color: #FFF;
        font-size: 32pt;
        margin: 10px;
        margin-left: 60px;
        margin-right: 4.25rem;
    }

    .navbar-text {
        color: #FFF;

        &.stats {
            font-size: 22pt;
            margin-right: 25px;
        }
    }

    .form-control[type=text] {
        margin: 10px;
        width: 20vw;
        text-align: center;
        background-color: $red1;
        color: #fff;
        border: 0;
        border-bottom: 1px solid #ccc;
        box-shadow: none;
        border-radius: 0;
    }
}
